   {% extends '@Front/default/template.html.twig' %}
            

            {%block slider%}


           <div class="hero-area">
    <div class="welcome-slides owl-carousel">

      <!-- Single Welcome Slides -->
      <div class="single-welcome-slides bg-img bg-overlay jarallax" style="background-image: url({{asset('frontFolder/img/all8.jpg')}});">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12" style="text-align: center ;margin-bottom: 200px;">
              <div class="welcome-content">
                <h2 data-animation="fadeInUp" data-delay="200ms">Profitez du l&apos;achat groupé pour tous les produits alimentaires.</h2>
                 <p data-animation="fadeInDown" data-delay="400ms">Mauris vestibulum dolor nec lacinia facilisis. Fusce interdum sagittis volutpat. Praesent eget varius ligula, malesuada eleifend purus. Aenean euismod est at mauris mollis ultricies.
                  Morbi arcu mi, dictum eu luala, dapibus
                  interdum mollis.</p>
                <a href="#" class="btn famie-btn mt-4" data-animation="bounceInUp" data-delay="600ms" style="padding-top: 12px;">Découvrir </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slides -->
      <div class="single-welcome-slides bg-img bg-overlay jarallax" style="background-image: url({{asset('frontFolder/img/blog-img3.jpg')}});">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12" style="text-align: center;margin-bottom: 200px; ">
              <div class="welcome-content">
                <h2 data-animation="fadeInDown" data-delay="200ms">Profitez du l&apos;achat groupé pour tous les produits alimentaires.</h2>
                <p data-animation="fadeInDown" data-delay="400ms">Mauris vestibulum dolor nec lacinia facilisis. Fusce interdum sagittis volutpat. Praesent eget varius ligula, malesuada eleifend purus. Aenean euismod est at mauris mollis ultricies.
                  Morbi arcu mi, dictum eu luala, dapibus
                  interdum mollis.</p>
                <a href="#" class="btn famie-btn mt-4" data-animation="bounceInDown" data-delay="600ms" style="padding-top: 12px;">Découvrir</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>



































            {%endblock%}


            {% block pageContainer %}





  <section class="famie-benefits-area section-padding-100-0 pb-5" style="padding-top: 35px;">
    <div class="container">
        <div class="text-center" style="padding:35px;">
       <h2 style="    font-family: 'Poppins', sans-serif;font-weight: 600;font-size: 35px;">Comment ça marche ?</h2>
       <p >
Morbi arcu mi, dictum eu luala, dapibus</p>
     </div>
        
          
<div class="text-center no-gutters row"><div class="col-12 col-md-3"><div style="height: 114px; transition: height 500ms ease 500ms;"><div class="react-reveal" style="opacity: 1;"><span class="icon-box icon-box-alt" style="animation-fill-mode: both; animation-duration: 875ms; animation-delay: 750ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-870858987348289-1;"><span aria-hidden="true" class="fa fa-cart-plus"></span></span><h5 style="animation-fill-mode: both; animation-duration: 1102ms; animation-delay: 750ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-870858987348289-1;"><span>Ajoutez</span></h5><small style="animation-fill-mode: both; animation-duration: 1389ms; animation-delay: 750ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-870858987348289-1;"><span>Vous ajoutez vos produits souhaités à votre panier</span></small></div></div></div><div class="col-12 col-md-1"><br><div style="height: 28px; transition: height 500ms ease 1500ms;"><div class="react-reveal" style="opacity: 1;"><span class="d-none d-lg-block" style="animation-fill-mode: both; animation-duration: 875ms; animation-delay: 1750ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-870858987348289-1;">
  <!-- <span aria-hidden="true" class="fa fa-chevron-right fa-2x"> -->
    
  </span></span><span class="d-block d-lg-none" style="animation-fill-mode: both; animation-duration: 1237ms; animation-delay: 1750ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-870858987348289-1;"><span aria-hidden="true" class="fa fa-chevron-down fa-2x"></span></span></div></div><br></div><div class="col-12 col-md-2"><div style="height: 131px; transition: height 500ms ease 2000ms;"><div class="react-reveal" style="opacity: 1;"><span class="icon-box icon-box-alt" style="animation-fill-mode: both; animation-duration: 875ms; animation-delay: 2250ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-870858987348289-1;"><span aria-hidden="true" class="fa fa-user-plus"></span></span><h5 style="animation-fill-mode: both; animation-duration: 1102ms; animation-delay: 2250ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-870858987348289-1;"><span>Invitez</span></h5><small style="animation-fill-mode: both; animation-duration: 1389ms; animation-delay: 2250ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-870858987348289-1;"><span>Vous invitez vos amis ou votre famille à participer à votre commande</span><!-- react-text: 801 --> (<!-- /react-text --><span>Optionnel</span><!-- react-text: 803 -->)<!-- /react-text --><br></small></div></div></div><div class="col-12 col-md-1"><br><div style="height: 28px; transition: height 500ms ease 3000ms;"><div class="react-reveal" style="opacity: 1;"><span class="d-none d-lg-block" style="animation-fill-mode: both; animation-duration: 875ms; animation-delay: 3250ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-870858987348289-1;">

   <!--  <span aria-hidden="true" class="fa fa-chevron-right fa-2x"></span> -->

  </span><span class="d-block d-lg-none" style="animation-fill-mode: both; animation-duration: 1237ms; animation-delay: 3250ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-870858987348289-1;"><span aria-hidden="true" class="fa fa-chevron-down fa-2x"></span></span></div></div><br></div><div class="col-12 col-md-2"><div style="height: 131px; transition: height 500ms ease 3500ms;"><div class="react-reveal" style="opacity: 1;"><span class="icon-box icon-box-alt" style="animation-fill-mode: both; animation-duration: 875ms; animation-delay: 3750ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-870858987348289-1;"><span aria-hidden="true" class="fa fa-credit-card"></span></span><h5 style="animation-fill-mode: both; animation-duration: 1041ms; animation-delay: 3750ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-870858987348289-1;"><span>Réservez</span></h5><small style="animation-fill-mode: both; animation-duration: 1237ms; animation-delay: 3750ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-870858987348289-1;"><span>Chaque participant règle sa commande séparrement</span></small><span class="d-none" style="animation-fill-mode: both; animation-duration: 1472ms; animation-delay: 3750ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-870858987348289-1;"> The shipping costs are divided between each participant, in proportion to your order</span></div></div></div><div class="col-12 col-md-1"><br><div style="height: 28px; transition: height 500ms ease 4500ms;"><div class="react-reveal" style="opacity: 1;"><span class="d-none d-lg-block" style="animation-fill-mode: both; animation-duration: 875ms; animation-delay: 4750ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-870858987348289-1;">

    <!-- <span aria-hidden="true" class="fa fa-chevron-right fa-2x"></span> -->


  </span><span class="d-block d-lg-none" style="animation-fill-mode: both; animation-duration: 1237ms; animation-delay: 4750ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-870858987348289-1;"><span aria-hidden="true" class="fa fa-chevron-down fa-2x"></span></span></div></div><br></div><div class="col-12 col-md-2"><div style="height: 131px; transition: height 500ms ease 5000ms;"><div class="react-reveal" style="opacity: 1;"><span class="icon-box icon-box-alt" style="animation-fill-mode: both; animation-duration: 875ms; animation-delay: 5250ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-870858987348289-1;"><span aria-hidden="true" class="fa fa-truck fa-flip-horizontal"></span></span><h5 style="animation-fill-mode: both; animation-duration: 1102ms; animation-delay: 5250ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-870858987348289-1;"><span>Recevez</span></h5><small style="animation-fill-mode: both; animation-duration: 1389ms; animation-delay: 5250ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-870858987348289-1;"><span>Vous recevez vos achats chez vous ou votre ami</span></small></div></div></div></div></div>




















      
    </div>
  </section>











  <div class="categories-item-warap section-pt-30 section-pb" style="margin-bottom: 60px;">
            <div class="container">

               <div class="text-center" style="padding:35px;">
       <h2 style="    font-family: 'Poppins', sans-serif;font-weight: 600;font-size: 35px;">Top catégories</h2>
       <p >
Morbi arcu mi, dictum eu luala, dapibus</p>
     </div>



                <div class="row">
                    <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                        <!-- single-categories-item Start -->
                        <div class="single-categories-item mt-30">
                            <div class="cat-item-image">
                                <a href="#"><img src="{{asset('frontFolder/img/c1.jpg')}}" alt=""></a>
                            </div>
                            <div class="categories-title">
                                <h6><a href="#" style="color: #242424;">Léguime</a></h6>
                                <p>11 products</p>
                            </div>
                        </div>
                        <!-- single-categories-item End -->
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                        <!-- single-categories-item Start -->
                        <div class="single-categories-item mt-30">
                            <div class="cat-item-image">
                                <a href="#"><img src="{{asset('frontFolder/img/img1.jpg')}}" alt=""></a>
                            </div>
                            <div class="categories-title">
                                <h6><a href="#" style="color: #242424;">Fruit de saison</a></h6>
                                <p>07 products</p>
                            </div>
                        </div>
                        <!-- single-categories-item End -->
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                        <!-- single-categories-item Start -->
                        <div class="single-categories-item mt-30">
                            <div class="cat-item-image">
                                <a href="#"><img src="{{asset('frontFolder/img/c3.jpg')}}" alt=""></a>
                            </div>
                            <div class="categories-title">
                                <h6><a href="#" style="color: #242424;">Fruits</a></h6>
                                <p>11 products</p>
                            </div>
                        </div>
                        <!-- single-categories-item End -->
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                        <!-- single-categories-item Start -->
                        <div class="single-categories-item mt-30">
                            <div class="cat-item-image">
                                <a href="#"><img src="{{asset('frontFolder/img/cart-1.jpg')}}" alt=""></a>
                            </div>
                            <div class="categories-title">
                                <h6><a href="#" style="color: #242424;">Mure</a></h6>
                                <p>05 products</p>
                            </div>
                        </div>
                        <!-- single-categories-item End -->
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                        <!-- single-categories-item Start -->
                        <div class="single-categories-item mt-30">
                            <div class="cat-item-image">
                                <a href="#" style="color: #242424;"><img src="{{asset('frontFolder/img/img4.jpg')}}" alt=""></a>
                            </div>
                            <div class="categories-title">
                                <h6><a href="#" style="color: #242424;">kiwi</a></h6>
                                <p>08 products</p>
                            </div>
                        </div>
                        <!-- single-categories-item End -->
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                        <!-- single-categories-item Start -->
                        <div class="single-categories-item mt-30">
                            <div class="cat-item-image">
                                <a href="#" ><img src="{{asset('frontFolder/img/img3.jpg')}}" alt=""></a>
                            </div>
                            <div class="categories-title">
                                <h6><a href="#" style="color: #242424;">Produits de lux</a></h6>
                                <p>12 products</p>
                            </div>
                        </div>
                        <!-- single-categories-item End -->
                    </div>
                </div>
            </div>
        </div>








<section class="newsletter-area section-padding-100 bg-img bg-overlay jarallax" style="background-image: url('{{asset('frontFolder/img/all2.jpg')}}')">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="newsletter-content">
            <!-- Section Heading -->
            <div class="section-heading white text-center" style="margin-bottom: 20px;font-size: 42px;">
          
              <h2>Commander en commun </h2>
              
            </div>
            <p class="text-white text-center" style="margin-bottom: 10px;font-size: 18px;">vous etes un groupe d'ami ,une grande famille ou une association <br/>Regroupons-nous pour acheter aux meilleurs prix. .</p>
          </div>
        </div>
      </div>
      <!-- Newsletter Form -->
      <div class="row text-center" >
        <div class="col-12 ">
            
                                      <a href="#" class="btn famie-btn mt-4" style="border-radius: 2px;padding-top: 12px;padding-bottom: 12px;text-transform: none;" >Créer un groupe</a>
                                       <a href="#" class="btn famie-btn mt-4" style="border-radius: 2px;padding-top: 12px;padding-bottom: 12px;margin-left:5px;text-transform: none;">Regoindre un groupe</a>       
                                            
       
          
        </div>
      </div>
    </div>
  </section>

 










                   <section class="famie-benefits-area  section-padding-100-0" style="padding-top:35px; padding-bottom: 35px;" >
  <div class="container">
      
    <h2 class="productSection-title"> La sélection du jour </h2>
     <div class="titrealigne" style="display: flex;
    justify-content: space-between;
    align-items: baseline;">
    <p>De bons produits choisis par l'équipe</p>
    <a class="voirTout" href="#">Voir Tous » </a>
  </div>

<!-- <div class="row"> -->

<div class="owl-carousel owl-theme">

  
   <div class="productCard " data-productid="1">
    <div class="productCard-imageWrapper"> 
     <a title="Nectarine blanche" href="#" class="b-lazy productCard-image product-link-detail-target b-loaded" style="background-image: url(&quot;{{asset('frontFolder/img/img3.jpg')}}&quot;);"></a>
         </div>
          <div class="productCard-details"> 
            <div class="productCard-actionWrapper"> 
              <div class="productCard-price"> 3 DT </div> 
              <div class="addToCart" > 
                <button id="btn-ajouter-item" class="btn btn-ajouter-panier btn-green addFirstItem" data-productid="1" data-type-of-list="section_homepage_1" >Ajouter</button> </div> </div>  <div class="kl productCard-producer" > <div class="producer-img-wrapper"> <img src="{{asset('frontFolder/img/small.jpg')}}" alt=""> </div> <div class="producer-name" >Alayet houssem</div> </div> <div class="productCard-main"> <a class="productCard-name product-link-detail-target" href="#"> Kiwi </a> <div class="productCard-price"> 3 DT </div> </div> <div class="productCard-stats"> <div>Tiket 3 Kg</div> <div>9 DT/Tiket</div> </div> </div> </div> 



              

    <div class="productCard " data-productid="1">
    <div class="productCard-imageWrapper"> 
     <a title="Nectarine blanche" href="#" class="b-lazy productCard-image product-link-detail-target b-loaded" style="background-image: url(&quot;{{asset('frontFolder/img/medium2.jpg')}}&quot;);"></a>
         </div>
          <div class="productCard-details"> 
            <div class="productCard-actionWrapper"> 
              <div class="productCard-price"> 0.8 DT </div> 
              <div class="addToCart" > 
                <button id="btn-ajouter-item" class="btn btn-ajouter-panier btn-green addFirstItem" data-productid="1" data-type-of-list="section_homepage_1" >Ajouter</button> </div> </div>  <div class="kl productCard-producer" > <div class="producer-img-wrapper"> <img src="{{asset('frontFolder/img/small.jpg')}}" alt=""> </div> <div class="producer-name" >Ahmed yakoubi</div> </div> <div class="productCard-main"> <a class="productCard-name product-link-detail-target" href="#"> nouveau Tomate </a> <div class="productCard-price"> 0.8 DT </div> </div> <div class="productCard-stats"> <div>Tiket 20 Kg</div> <div>16 DT/Tiket</div> </div> </div> </div> 



         

         <div class="productCard " data-productid="1">
    <div class="productCard-imageWrapper"> 
     <a title="Nectarine blanche" href="#" class="b-lazy productCard-image product-link-detail-target b-loaded" style="background-image: url(&quot;{{asset('frontFolder/img/c3.jpg')}}&quot;);"></a>
         </div>
          <div class="productCard-details"> 
            <div class="productCard-actionWrapper"> 
              <div class="productCard-price"> 0.8 DT </div> 
              <div class="addToCart" > 
                <button id="btn-ajouter-item" class="btn btn-ajouter-panier btn-green addFirstItem" data-productid="1" data-type-of-list="section_homepage_1" >Ajouter</button> </div> </div>  <div class="kl productCard-producer" > <div class="producer-img-wrapper"> <img src="{{asset('frontFolder/img/small.jpg')}}" alt=""> </div> <div class="producer-name" >Houssem Alayet</div> </div> <div class="productCard-main"> <a class="productCard-name product-link-detail-target" href="#"> MÛRE </a> <div class="productCard-price"> 0.8 DT </div> </div> <div class="productCard-stats"> <div>Tiket 20 Kg</div> <div>16 DT/Tiket</div> </div> </div> </div>      

            
   




              
               <div class="productCard " data-productid="1">
    <div class="productCard-imageWrapper"> 
     <a title="Nectarine blanche" href="#" class="b-lazy productCard-image product-link-detail-target b-loaded" style="background-image: url(&quot;{{asset('frontFolder/img/bg-img/p9.jpg')}}&quot;);"></a>
         </div>
          <div class="productCard-details"> 
            <div class="productCard-actionWrapper"> 
              <div class="productCard-price"> 4 DT </div> 
              <div class="addToCart" > 
                <button id="btn-ajouter-item" class="btn btn-ajouter-panier btn-green addFirstItem" data-productid="1" data-type-of-list="section_homepage_1" >Ajouter</button> </div> </div>  <div class="kl productCard-producer" > <div class="producer-img-wrapper"> <img src="{{asset('frontFolder/img/small.jpg')}}" alt=""> </div> <div class="producer-name" >Houssem Alayet</div> </div> <div class="productCard-main"> <a class="productCard-name product-link-detail-target" href="#"> banane </a> <div class="productCard-price"> 4 DT </div> </div> <div class="productCard-stats"> <div>Tiket 20 Kg</div> <div>80 DT/Tiket</div> </div> </div> </div> 


              
             
  

















               </div>

             <!--  </div> -->
               </div>
              </section>








{% if menu().nouveaux | length > 4 %}



 <section class="famie-benefits-area  section-padding-100-0" style="padding-top:35px; padding-bottom: 35px;">
  <div class="container">
      
        
    <h2 class="productSection-title"> Nouveux produits </h2>
     <div class="titrealigne" style="display: flex;
    justify-content: space-between;
    align-items: baseline;">

    <p>Découvrez les derniers produits </p>
    <a class="voirTout" href="#">Voir Tous » </a>
  </div>
    
    
    
 
<!-- <div class="row"> -->

<div class="owl-carousel owl-theme">
   
    {%for nouveau in menu().nouveaux %}
        

        <div class="productCard " data-productid="{{nouveau.id}}">
    <div class="productCard-imageWrapper"> 
     <a title="Nectarine blanche" href="{{path('produit_detailles',{'id':nouveau.id})}}" class="b-lazy productCard-image product-link-detail-target b-loaded" style="background-image: url(&quot;{{asset('')}}uploads/logo/{{nouveau.image}}&quot;);"></a>
         </div>
          <div class="productCard-details"> 
            <div class="productCard-actionWrapper"> 
              <div class="productCard-price"> {{nouveau.prix}} </div> 
              <div class="addToCart" > 
                <button id="btn-ajouter-item" class="btn btn-ajouter-panier btn-green addFirstItem" data-productid="{{nouveau.id}}" data-type-of-list="section_homepage_1" >Ajouter</button> </div> </div>  <div class="kl productCard-producer" > 

                <div class="producer-img-wrapper">
                {% if nouveau.user.logo  %}
                 <img src="{{asset('')}}uploads/logo/{{nouveau.user.logo}}"  alt="User Image">
                 {%else%}
                 <img src="{{asset('uploads/telechargement.jpg')}}"  alt="User Image">
                 {%endif%} 

                 </div> <div class="producer-name" >{{nouveau.user.responsable}}</div> </div> <div class="productCard-main"> <a class="productCard-name product-link-detail-target" href="{{path('produit_detailles',{'id':nouveau.id})}}"> {{nouveau.titre}} </a> <div class="productCard-price"> {{nouveau.prix}} DT</div> </div> <div class="productCard-stats"> <div>Tiket {{nouveau.tiket}} Kg</div> <div>{{nouveau.tiket * nouveau.prix  }} DT/Tiket</div> </div> </div> </div> 

   {% endfor %}

              




               </div>

             <!--  </div> -->
               </div>
              </section>

{% endif %}



{% if menu().listefruits | length > 4 %}

              
 <section class="famie-benefits-area  section-padding-100-0" style="padding-top:35px; padding-bottom: 35px;">
  <div class="container">
      
    <h2 class="productSection-title"> Fruits  </h2>
    <div class="titrealigne" style="display: flex;
    justify-content: space-between;
    align-items: baseline;">
    <p>Découvrez tous les fruits fraiche </p>
    <a class="voirTout" href="#">Voir Tous » </a>

  </div>
<!-- <div class="row"> -->

<div class="owl-carousel owl-theme">

  
    {%for listefruit in menu().listefruits %}
     
      <div class="productCard " data-productid="{{listefruit.id}}">
    <div class="productCard-imageWrapper"> 
     <a title="Nectarine blanche" href="{{path('produit_detailles',{'id':listefruit.id})}}" class="b-lazy productCard-image product-link-detail-target b-loaded" style="background-image: url(&quot;{{asset('')}}uploads/logo/{{listefruit.image}}&quot;);"></a>
         </div>
          <div class="productCard-details"> 
            <div class="productCard-actionWrapper"> 
              <div class="productCard-price"> {{listefruit.prix}} </div> 
              <div class="addToCart" > 
                <button id="btn-ajouter-item" class="btn btn-ajouter-panier btn-green addFirstItem" data-productid="{{listefruit.id}}" data-type-of-list="section_homepage_1" >Ajouter</button> </div> </div>  <div class="kl productCard-producer" > 

                <div class="producer-img-wrapper">
                {% if listefruit.user.logo  %}
                 <img src="{{asset('')}}uploads/logo/{{listefruit.user.logo}}"  alt="User Image">
                 {%else%}
                 <img src="{{asset('uploads/telechargement.jpg')}}"  alt="User Image">
                 {%endif%} 

                 </div> <div class="producer-name" >{{listefruit.user.responsable}}</div> </div> <div class="productCard-main"> <a class="productCard-name product-link-detail-target" href="{{path('produit_detailles',{'id':listefruit.id})}}"> {{listefruit.titre}} </a> <div class="productCard-price"> {{listefruit.prix}} DT</div> </div> <div class="productCard-stats"> <div>Tiket {{listefruit.tiket}} Kg</div> <div>{{listefruit.tiket * listefruit.prix  }} DT/Tiket</div> </div> </div> </div>








   {%endfor%}
















               </div>

             <!--  </div> -->
               </div>
              </section>

{% endif %}



{% if menu().listeleguimes | length > 4 %}



               <section class="famie-benefits-area  section-padding-100-0" style="padding-top:35px; padding-bottom: 35px;">
  <div class="container">
      
    <h2 class="productSection-title"> Léguime  </h2>
     <div class="titrealigne" style="display: flex;
    justify-content: space-between;
    align-items: baseline;">
    <p>Meilleurs prix</p>
    <a class="voirTout" href="#">Voir Tous » </a>
  </div>

<!-- <div class="row"> -->

<div class="owl-carousel owl-theme">

  
   {%for listleguime in menu().listeleguimes %}
     
      <div class="productCard " data-productid="{{listleguime.id}}">
    <div class="productCard-imageWrapper"> 
     <a title="Nectarine blanche" href="{{path('produit_detailles',{'id':listleguime.id})}}" class="b-lazy productCard-image product-link-detail-target b-loaded" style="background-image: url(&quot;{{asset('')}}uploads/logo/{{listleguime.image}}&quot;);"></a>
         </div>
          <div class="productCard-details"> 
            <div class="productCard-actionWrapper"> 
              <div class="productCard-price"> {{listleguime.prix}} </div> 
              <div class="addToCart" > 
                <button id="btn-ajouter-item" class="btn btn-ajouter-panier btn-green addFirstItem" data-productid="{{listleguime.id}}" data-type-of-list="section_homepage_1" >Ajouter</button> </div> </div>  <div class="kl productCard-producer" > 

                <div class="producer-img-wrapper">
                {% if listleguime.user.logo  %}
                 <img src="{{asset('')}}uploads/logo/{{listleguime.user.logo}}"  alt="User Image">
                 {%else%}
                 <img src="{{asset('uploads/telechargement.jpg')}}"  alt="User Image">
                 {%endif%} 

                 </div> <div class="producer-name" >{{listleguime.user.responsable}}</div> </div> <div class="productCard-main"> <a class="productCard-name product-link-detail-target" href="{{path('produit_detailles',{'id':listleguime.id})}}"> {{listleguime.titre}} </a> <div class="productCard-price"> {{listleguime.prix}} DT</div> </div> <div class="productCard-stats"> <div>Tiket {{listleguime.tiket}} Kg</div> <div>{{listleguime.tiket * listleguime.prix  }} DT/Tiket</div> </div> </div> </div>








   {%endfor%}

















               </div>

             <!--  </div> -->
               </div>
              </section>



{% endif %}






               <section class="famie-benefits-area  section-padding-100-0" style="padding-top:35px; padding-bottom: 35px;margin-bottom: 50px;">
  <div class="container">
      
    <h2 class="productSection-title"> Populaire produits </h2>

     <div class="titrealigne" style="display: flex;
    justify-content: space-between;
    align-items: baseline;">
    <p>Les produits les plus demandées</p>
    <a class="voirTout" href="#">Voir Tous » </a>

  </div>

<!-- <div class="row"> -->

<div class="owl-carousel owl-theme">

  
    <div class="productCard " data-productid="1">
    <div class="productCard-imageWrapper"> 
     <a title="Nectarine blanche" href="#" class="b-lazy productCard-image product-link-detail-target b-loaded" style="background-image: url(&quot;{{asset('frontFolder/img/medium30.jpg')}}&quot;);"></a>
         </div>
          <div class="productCard-details"> 
            <div class="productCard-actionWrapper"> 
              <div class="productCard-price"> 1 DT </div> 
              <div class="addToCart" > 
                <button id="btn-ajouter-item" class="btn btn-ajouter-panier btn-green addFirstItem" data-productid="1" data-type-of-list="section_homepage_1" >Ajouter</button> </div> </div>  <div class="kl productCard-producer" > <div class="producer-img-wrapper"> <img src="{{asset('frontFolder/img/small.jpg')}}" alt=""> </div> <div class="producer-name" >Alayet houssem</div> </div> <div class="productCard-main"> <a class="productCard-name product-link-detail-target" href="#"> Oignant </a> <div class="productCard-price"> 1 DT </div> </div> <div class="productCard-stats"> <div>Tiket 5 Kg</div> <div>5 DT/Tiket</div> </div> </div> </div> 



              

    <div class="productCard " data-productid="1">
    <div class="productCard-imageWrapper"> 
     <a title="Nectarine blanche" href="#" class="b-lazy productCard-image product-link-detail-target b-loaded" style="background-image: url(&quot;{{asset('frontFolder/img/medium29.jpg')}}&quot;);"></a>
         </div>
          <div class="productCard-details"> 
            <div class="productCard-actionWrapper"> 
              <div class="productCard-price"> 0.8 DT </div> 
              <div class="addToCart" > 
                <button id="btn-ajouter-item" class="btn btn-ajouter-panier btn-green addFirstItem" data-productid="1" data-type-of-list="section_homepage_1" >Ajouter</button> </div> </div>  <div class="kl productCard-producer" > <div class="producer-img-wrapper"> <img src="{{asset('frontFolder/img/small.jpg')}}" alt=""> </div> <div class="producer-name" >Ahmed yakoubi</div> </div> <div class="productCard-main"> <a class="productCard-name product-link-detail-target" href="#">Pomme de terre  </a> <div class="productCard-price"> 0.8 DT </div> </div> <div class="productCard-stats"> <div>Tiket 20 Kg</div> <div>16 DT/Tiket</div> </div> </div> </div> 



         

         <div class="productCard " data-productid="1">
    <div class="productCard-imageWrapper"> 
     <a title="Nectarine blanche" href="#" class="b-lazy productCard-image product-link-detail-target b-loaded" style="background-image: url(&quot;{{asset('frontFolder/img/medium3.jpg')}}&quot;);"></a>
         </div>
          <div class="productCard-details"> 
            <div class="productCard-actionWrapper"> 
              <div class="productCard-price"> 0.8 DT </div> 
              <div class="addToCart" > 
                <button id="btn-ajouter-item" class="btn btn-ajouter-panier btn-green addFirstItem" data-productid="1" data-type-of-list="section_homepage_1" >Ajouter</button> </div> </div>  <div class="kl productCard-producer" > <div class="producer-img-wrapper"> <img src="{{asset('frontFolder/img/small.jpg')}}" alt=""> </div> <div class="producer-name" >Houssem Alayet</div> </div> <div class="productCard-main"> <a class="productCard-name product-link-detail-target" href="#"> Tommate </a> <div class="productCard-price"> 0.8 DT </div> </div> <div class="productCard-stats"> <div>Tiket 20 Kg</div> <div>16 DT/Tiket</div> </div> </div> </div>      

            
   




              
               <div class="productCard " data-productid="1">
    <div class="productCard-imageWrapper"> 
     <a title="Nectarine blanche" href="#" class="b-lazy productCard-image product-link-detail-target b-loaded" style="background-image: url(&quot;{{asset('frontFolder/img/image-12.jpg')}}&quot;);"></a>
         </div>
          <div class="productCard-details"> 
            <div class="productCard-actionWrapper"> 
              <div class="productCard-price"> 1 DT </div> 
              <div class="addToCart" > 
                <button id="btn-ajouter-item" class="btn btn-ajouter-panier btn-green addFirstItem" data-productid="1" data-type-of-list="section_homepage_1" >Ajouter</button> </div> </div>  <div class="kl productCard-producer" > <div class="producer-img-wrapper"> <img src="{{asset('frontFolder/img/small.jpg')}}" alt=""> </div> <div class="producer-name" >Houssem Alayet</div> </div> <div class="productCard-main"> <a class="productCard-name product-link-detail-target" href="#"> Salade </a> <div class="productCard-price"> 1 DT </div> </div> <div class="productCard-stats"> <div>Tiket 20 Kg</div> <div>20 DT/Tiket</div> </div> </div> </div> 


              















               </div>

             <!--  </div> -->
               </div>
              </section>









              








   <section class="newsletter-area section-padding-100 bg-img bg-overlay jarallax" style="background-image: url('{{asset('frontFolder/img/all1.jpg')}}');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="newsletter-content">
            <!-- Section Heading -->
            <div class="section-heading white text-center" style="margin-bottom: 15px;">
            
              <h2 >Rejoignez notre Newsletter maintenant</h2>
              
            </div>
            <p class="text-white  text-center" style="margin-bottom: 15px;font-size: 18px;">Rejoignez Nous et recevez un nouveau coupon de réduction chaque mercredi.</p>
          </div>
        </div>
      </div>
      <!-- Newsletter Form -->
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Enter your email">
            <button type="submit" class="btn famie-btn">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </section>




































 
 
        
        










<section class="famie-benefits-area section-padding-100-0" style=" margin-bottom: 100px;padding-top: 35px;">
  <div class="container">
      


               <div class="text-center" style="padding:35px;">
       <h2 style="    font-family: 'Poppins', sans-serif;font-weight: 600;font-size: 35px;">Nos partenaires </h2>
       <p style="font-size: 16px;">
Ils nous fait confiance </p>
     </div>
    <div class="row">
     
    <section class="customer-logos slider">
      <div class="slide"><img src="https://grandvincentmarion.github.io/_img/slider-logo1.png"></div>
      <div class="slide"><img src="https://grandvincentmarion.github.io/_img/slider-logo2.png"></div>
      <div class="slide"><img src="https://grandvincentmarion.github.io/_img/slider-logo3.png"></div>
      <div class="slide"><img src="https://grandvincentmarion.github.io/_img/slider-logo1.png"></div>
      <div class="slide"><img src="https://grandvincentmarion.github.io/_img/slider-logo2.png"></div>
      <div class="slide"><img src="https://grandvincentmarion.github.io/_img/slider-logo3.png"></div>
     
    
      
   </section>











    </div>
  </div>

</section>





 


<section class="bg_default py-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shopping_info shopping_info_style2 border-0 shopping_info_light">
                    <div class="row justify-content-center">
                        <div class="col-md-4 "> 
                            <div class="icon_box icon_box_style2">
                                <div class="box_icon">
                                    <i class="fa fa-truck"></i>
                                </div>
                                <div class="intro_desc">
                                    <h5>Livraison gratuite</h5>
                                    <p>Livraison gratuite pour commande passe 100 dt.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" > 
                            <div class="icon_box icon_box_style2">
                                <div class="box_icon">
                                    <i class="fa fa-dollar-sign"></i>
                                </div>
                                <div class="intro_desc">
                                    <h5>30 Day Returns Guarantee</h5>
                                    <p>Phasellus blandit massa enim elit of passage varius nunc.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 " > 
                            <div class="icon_box icon_box_style2">
                                <div class="box_icon">
                                    <i class="fa fa-life-ring"></i>
                                </div>
                                <div class="intro_desc">
                                    <h5>24/7 support client</h5>
                                    <p>notre support online est disponible pour vous questions.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock %}

